# ---------------[ Unity generated ]------------------ #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
BuildOut/
  
# ----[ Visual Studio / MonoDevelop generated ]------- #
  
.vs
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
  
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
 
#ProjectSettings.asset*
# -------------[ Build ]------------------------ #
#*.html
gmcs.rsp*
smcs.rsp*


SailingProject_2017/.vs/SailingProject_2017/v15/Browse.VC.db
.vs/SailingProject_2017/v15/Browse.VC.db
Assets/Demigiant/
GameData/UnityPlayer.dll
GameData/UnityOnline_Data/sharedassets1.assets
GameData/UnityOnline_Data/sharedassets0.assets.resS
GameData/UnityOnline_Data/sharedassets0.assets
GameData/UnityOnline_Data/Managed/UnityEngine.VehiclesModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.VRModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.VRModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestWWWModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestTextureModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestAudioModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UnityConnectModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UnityConnectModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UnityAnalyticsModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UmbraModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UmbraModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UNETModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.Physics2DModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.PerformanceReportingModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.PerformanceReportingModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ParticlesLegacyModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.ParticlesLegacyModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ParticleSystemModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.ParticleSystemModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.Networking.dll
GameData/UnityOnline_Data/Managed/UnityEngine.LocalizationModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.LocalizationModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.JSONSerializeModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.JSONSerializeModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.InputModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.InputModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ImageConversionModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.ImageConversionModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.IMGUIModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.IMGUIModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.HotReloadModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.HotReloadModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ClusterInputModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.ClusterInputModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.CloudWebServicesModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.CloudWebServicesModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ClothModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.AIModule.dll
GameData/UnityOnline_Data/Managed/Unity.TextMeshPro.dll
GameData/UnityOnline_Data/Managed/System.dll
GameData/UnityOnline_Data/Managed/System.Core.dll
GameData/UnityOnline_Data/Managed/Mono.Security.dll
GameData/UnityOnline_Data/Managed/Assembly-CSharp.dll
GameData/UnityOnline.exe
GameData/UnityCrashHandler64.exe
GameData/Mono/etc/mono/mconfig/config.xml
GameData/Mono/etc/mono/config
GameData/Mono/etc/mono/browscap.ini
GameData/Mono/etc/mono/2.0/web.config
GameData/Mono/etc/mono/2.0/settings.map
GameData/Mono/etc/mono/2.0/machine.config
GameData/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
GameData/Mono/etc/mono/2.0/Browsers/Compat.browser
GameData/Mono/etc/mono/1.0/machine.config
GameData/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
GameData/Mono/EmbedRuntime/mono.dll
GameData/Mono/EmbedRuntime/MonoPosixHelper.dll
GameData/UnityOnline_Data/level1.resS
GameData/UnityOnline_Data/level1
GameData/UnityOnline_Data/level0.resS
GameData/UnityOnline_Data/level0
GameData/UnityOnline_Data/globalgamemanagers.assets
GameData/UnityOnline_Data/globalgamemanagers
GameData/UnityOnline_Data/boot.config
GameData/UnityOnline_Data/app.info
GameData/UnityOnline_Data/Resources/unity_builtin_extra
GameData/UnityOnline_Data/Resources/unity default resources
GameData/UnityOnline_Data/Managed/mscorlib.dll
GameData/UnityOnline_Data/Managed/UnityEngine.xml
GameData/UnityOnline_Data/Managed/UnityEngine.dll
GameData/UnityOnline_Data/Managed/UnityEngine.XRModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.XRModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.WindModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.WindModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.VideoModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.VideoModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.VehiclesModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.SubstanceModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.StyleSheetsModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.StyleSheetsModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.StreamingModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.StreamingModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.StandardEvents.dll
GameData/UnityOnline_Data/Managed/UnityEngine.SpriteShapeModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.SpriteShapeModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.SpriteMaskModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.SpriteMaskModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.SpatialTracking.dll
GameData/UnityOnline_Data/Managed/UnityEngine.SharedInternalsModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.SharedInternalsModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ScreenCaptureModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.ScreenCaptureModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ProfilerModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.GridModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.GridModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.GameCenterModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.GameCenterModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.FileSystemHttpModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.FileSystemHttpModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.FacebookModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.FacebookModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.DirectorModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.DirectorModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.CrashReportingModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.CrashReportingModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.CoreModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.CoreModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ClusterRendererModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.ClusterRendererModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ClothModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.BaselibModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.BaselibModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.AudioModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.AudioModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.AssetBundleModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.AssetBundleModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.AnimationModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.AnimationModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.Analytics.dll
GameData/UnityOnline_Data/Managed/UnityEngine.AccessibilityModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.AccessibilityModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.ARModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.ARModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.AIModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UNETModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UIModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UIModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UIElementsModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.UIElementsModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.UI.dll
GameData/UnityOnline_Data/Managed/UnityEngine.TimelineModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.TimelineModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.Timeline.dll
GameData/UnityOnline_Data/Managed/UnityEngine.TilemapModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.TilemapModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.TextRenderingModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.TextRenderingModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.TerrainPhysicsModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.TerrainModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.TerrainModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.TLSModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.TLSModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.SubstanceModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.ProfilerModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.PhysicsModule.xml
GameData/UnityOnline_Data/Managed/UnityEngine.PhysicsModule.dll
GameData/UnityOnline_Data/Managed/UnityEngine.Physics2DModule.xml
GameData/
